{% extends 'home.html' %} {% load static %} {% load cart %} {% block title %}
Cart | Klick iT {% endblock title %} {% block body %}
<div class="row m-3">
  <div class="col-md-6 col-sm-12 col-12">
    <h5 class="background text-light p-2 text-center">Shipping Details</h5>
    <table class="table table-light table-striped table-hover">
      <tr>
        <th>Name</th>
        <td>{{User.name}}</td>
      </tr>
      <tr>
        <th>User Name</th>
        <td>{{User.username}}</td>
      </tr>
      <tr>
        <th>Email Id</th>
        <td>{{User.email}}</td>
      </tr>
      <tr>
        <th>Contect No.</th>
        <td>{{User.phone}}</td>
      </tr>
      <tr>
        <th>House no</th>
        <td>{{User.address1}}</td>
      </tr>
      <tr>
        <th>Area</th>
        <td>{{User.address2}}</td>
      </tr>
      <tr>
        <th>Locality</th>
        <td>{{User.address3}}</td>
      </tr>
      <tr>
        <th>Pin</th>
        <td>{{User.pin}}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{User.city}}</td>
      </tr>
      <tr>
        <th>State</th>
        <td>{{User.State}}</td>
      </tr>
      <tr>
        <th colspan="2">
          <a href="/updateprofile/" class="btn background text-light w-100"
            >Upload Details</a
          >
        </th>
      </tr>
    </table>
  </div>
  <div class="col-md-6 col-sm-12 col-12">
    <h5 class="background text-center text-light p-2">Cart Section</h5>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-light">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
          <th>QTY</th>
          <th>Total</th>
        </tr>
        {% for i in cart %}
        <tr>
          {% if request|cartproductimage:i %}
          <td>
            <img
              src="{{request|cartproductimage:i}}"
              height="100px"
              width="100px"
            />
          </td>
          {% else %}
          <td>
            <img
              src="{% static 'images/noimage.jpg' %}"
              height="100px"
              width="100px"
            />
          </td>
          {% endif %}
          <td>{{request|cartproductname:i}}</td>
          <td>{{request|cartcolor:i}}</td>
          <td>{{request|cartsize:i}}</td>
          <td>&#8377;{{request|cartproductprice:i}}</td>
          <td>{{request|cartqty:i}}</td>
          <td>&#8377;{{request|carttotal:i}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="row">
      <table class="table table-light table-striped table-hover">
        <tr>
          <th>Total</th>
          <td>&#8377;{{total}}</td>
        </tr>
        <tr>
          <th>Shipping</th>
          <td>&#8377;{{shipping}}</td>
        </tr>
        <tr>
          <th>Final</th>
          <td>&#8377;{{final}}</td>
        </tr>
        <form action="" method="POST">
          {% csrf_token %}
          <tr>
            <th>Mode of Payment</th>
            <td>
              <select name="mode" class="form-control">
                <option value="COD">COD</option>
                <option value="net banking">Net Banking/Card/UPI/Wallet</option>
              </select>
            </td>
          </tr>

          <tr>
            <th colspan="2">
              <button type="submit" class="btn background text-light w-100">
                Place Order
              </button>
            </th>
          </tr>
        </form>
        <tr></tr>
      </table>
    </div>
  </div>

  {% endblock body %}
</div>
